*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background: #006622;
  color: white;
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin:0;
}

p {
  font-size: 1rem;
}

form,
textarea {
  font-size: 1rem;
}

button {
  display: block;
  font-size: 1.2rem;
  padding: 0.5em 1em;
  border: none;
  background-color: aquamarine;
  color: #0a2472;
  font-family: 'Montserrat', sans-serif;
}

header {
  text-align: center;
  margin: 1em auto;
}

.section {
  padding: 1em 1em;
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 1em 1em;
}

.container-row {
  width: 90%;
  margin: 0 auto;
}

.btn-main,
.btn-light,
.btn-dark {
  display: block;
  padding: 0.6rem 2rem;
  margin: 1rem;
  transition: all 0.1s;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn-main {
  color: #E6FFEE;
  background-color: #343148;
}

.btn-light {
  color: #0a2472;
  background-color: white;
}

.btn-dark {
  color: white;
  background-color: #0a2472;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #E6FFEE;
  color: black;
  font-weight: 700;
  transform: scale(1.08);
}

.entry-text-title {
  width: 20em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: #E6FFEE;
  font-family: 'Montserrat', sans-serif;
}

.entry-text-title:focus {
  outline-color: black;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 1rem;
}

.entry-text-title::placeholder {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.entry-text-title::-ms-value {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.container-row-journal {
  display: flex;
  justify-content: center;
}

.entry-form {
  max-width: 100%;
  margin: 0 auto;
}

.journal-label {
  display: block;
  line-height: 1.6;
  font-size: 1.4rem;
  font-weight: 700;
}

.entry-text-box {
  width: 100%;
  height: 20em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  font-family: 'Montserrat', sans-serif;
  background-color: #E6FFEE;
}

@media (min-width: 769px) {
  .entry-text-box {
    width: 40em;
    height: 20em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2px;
    border: unset;
    background-color: #E6FFEE;
    font-family: 'Montserrat', sans-serif;
  }
}

.entry-text-box:focus {
  outline-color: black;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 1rem;
}

.entry-text-box::placeholder {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.entry-submit-btn {
  margin: 0;
}


.sectionEntryResults {
  width: 100%;
  margin: 0 auto;
}

.entryResultRow {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-entry-div {
  max-width: 100%;
  margin-top: 0;
  padding: 0 1em;
}

.single-entry-date {
  background-color: #006622;
  width: 100%;
  margin-top: 0;
}

.heading-results {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #E6FFEE;
}
