html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 1440px;
  height: 1900px;

  background: whitesmoke;
}
.logo {
  margin: 0px 102px;
  height: 60px;
  padding: 17px;
  border-radius: 50px;
}
img {
  width: 85%;
}
.navbar {
  width: 1519px;
  height: 100px;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  background-color: #006622;
  display: flex;
}
.community {
  /* text-align: center; */
  justify-content: center;
  padding: 20px;
  letter-spacing: 3px;
  color: white;
  font-size: 45px;
  font-weight: bold;
  font-family: sans-serif;
}
.body-page {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 75px;
}
.sidebar {
  width: 330px;
  height: 200vh;
  left: 0px;
  top: 100px;
  background: #c3eed1;
}
.discussion-section {
  width: 786px;
  height: 170vh;
  left: 450px;
  /* top:500px; */
  background: #fffcfc;
  box-shadow: inset 10px 0px 0px #006622;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.filterDiv {
  background-color: #c3eed1;
  padding: 30px;
  width: 730px;
  /* height: 20%; */
  border-radius: 10px;
  line-height: 3px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 22px;
  /* float: left; */
  display: none;
  margin: 20px;
  color: rgb(70, 67, 67);
}
.show {
  display: block;
}
.content {
  padding: 20px;
}
.time {
  font-size: 13px;
  color: #666;
}
.read-more-state {
  display: none;
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: "Show more";
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: "Show less";
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 0.5em;
  color: #666;
  font-size: 0.9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: 0.25em;
}

.question {
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}
.suggestions {
  /* position: relative; */
  width: 270px;
  height: 345px;
  /* left: 1158px; */
  /* top: 151px; */
  background: #c3eed1;
  align-self: flex-start;
  display: flex;
}
.post {
  font-family: sans-serif;
  font-weight: bold;
  color: #006622;
  font-size: 25px;
  text-align: end;
  align-self: flex-end;
  padding: 30px;
}
.discussion-section_ {
  display: flex;
  margin-top: 10px;
}
.discussion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.margin-bottom {
  margin-bottom: 16px;
}
.btn {
  /* Style the buttons */
  font-size: 14px;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #006622;
  color: rgb(189, 255, 200);
  cursor: pointer;
  /* border-radius: 5px; */
}

.btn:hover {
  background-color: #96d496;
}

.btn.active {
  background-color: #96d496;
  color: white;
}

.button {
  /* position: absolute; */
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #006622;
  font-weight: bold;
  color: #fffcfc;
  font-family: sans-serif;
  cursor: pointer;
  /* left: 956px;
  top: 133px; */
}
/* Style the input*/
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
  position: relative;
  margin-top: 100px;
  width: 214vh;
  background: #006622;
}

.social-icon {
  color: #fff;
  margin-left: 10px;
}

a.social-icon:hover {
  color: #fff;
}

.footer .icons {
  text-align: center;
  font-size: 1.5rem;
}

.footer .copyright {
  text-align: center;
  margin-top: 20px;
}

.footer .team {
  text-align: right;
}

.footer .container-fluid {
  padding: 90px 0 0 0;
  background: linear-gradient(rgba(52, 49, 72, 0.9), rgba(52, 49, 72, 0.9)),
    url(../img/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer .footer-info {
  position: relative;
  width: 100%;
  text-align: center;
}

.footer .footer-info .footer-logo {
  display: inline-block;
  color: #f7cac9;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 45px;
}

.footer .footer-info .footer-logo span {
  color: #ffffff;
  text-transform: lowercase;
}

.footer .footer-info h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.footer .footer-menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer .footer-menu p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  padding: 0 10px;
  border-right: 1px solid #ffffff;
}

.footer .footer-menu p:last-child {
  border: none;
}

.footer .footer-social {
  position: relative;
  margin-top: 5px;
}

.footer .footer-social a {
  display: inline-block;
}

.footer .footer-social a i {
  margin-right: 15px;
  font-size: 20px;
  color: #ffffff;
  transition: 0.3s;
}

.footer .footer-social a:last-child i {
  margin: 0;
}

.footer .footer-social a:hover i {
  color: #f7cac9;
}

.footer .copyright {
  margin-top: 60px;
  padding: 0 30px;
}

.footer .copyright .row {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright p {
  margin: 0;
  color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
  text-align: right;
}

.footer .copyright p a {
  color: #ffffff;
  font-weight: 600;
}

.footer .copyright p a:hover {
  color: #f7cac9;
}

@media (max-width: 767.98px) {
  .footer .copyright p,
  .footer .copyright .col-md-6:last-child p {
    margin: 5px 0;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #034d09;
}

::-webkit-scrollbar-thumb:hover {
  background: #034d09;
}
