#logo img {
  width: 60px;
  margin: 0px 10px;
  height: 60px;
  border-radius: 50px;
}

#logo img:hover {
  transition: all 0.5s ease-in-out;
  transform: rotate(360deg);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6ffee;
  font-family: "Nunito", sans-serif;
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/

.navbar {
  position: relative;
  transition: 0.5s;
  z-index: 999;
}

.navbar.nav-sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
  margin: 0;
  color: #ffffff;
  font-size: 45px;
  line-height: 0px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}

.navbar .navbar-brand span {
  color: #343148;
  text-transform: lowercase;
  transition: 0.5s;
}

.navbar.nav-sticky .navbar-brand span {
  color: #e6ffee;
}

.navbar .navbar-brand img {
  max-width: 100%;
  max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  text-transform: none;
  font-family: "Open Sans", sans-serif !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0px 18px;
  margin: 0px 8px;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  transition: all 0.5s ease-in-out;
  background-color: white;
  color: #006622;
  border-radius: 30px 0px 30px 0px;
  transform: scale(1.17);
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}

@media (min-width: 992px) {
  .navbar {
    position: absolute;
    width: 100%;
    top: 0px;
    padding: 10px 30px;
    background: #006622 !important;
    z-index: 9;
  }

  .navbar.nav-sticky {
    padding: 10px 60px;
    background: #006622 !important;
  }

  .navbar a.nav-link {
    padding: 8px 15px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 15px;
    background: #006622 !important;
  }

  .navbar .navbar-brand span {
    color: #ffffff;
  }

  .navbar a.nav-link {
    padding: 5px;
  }

  .navbar .dropdown-menu {
    box-shadow: none;
  }
}




/* ------------------------------------------------------- */
.container {
  padding: 0px !important;
}

.cal {
  margin: auto;
  width: 90% !important;
  height: max-content;

  box-sizing: border-box;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.619);

  background-color: #fbfbfb;
}

@media (max-width: 576px) {
  .bgimg {
    height: 200vh;
  }

  .header img {
    height: 40px;
    width: 270px;
  }
}

.row {
  margin-left: 0 !important;
}


.txt h5 {
  padding-bottom: 5px;
  margin-top: 10px !important;
  text-decoration: underline;
  font-family: 'Arvo', serif;
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Signika Negative', sans-serif;
  color: #00100e !important;
}

.questions {
  width: 80%;
  padding: 10px;

}

/* ---------------------------------------------------------------- */


/*  -----------------------------------------result chart--------------------------------------------------- */


.bars {
  margin-top: 5px;
  margin-bottom: 0px;
  /* display: flex; */
  justify-content: space-between;
}

.bars p {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.subheading {
  display: inline !important;
}

.subeading2 {
  display: inline !important;
}

.barspass {
  margin-top: 5px;
  margin-bottom: 0px;
  /* display: flex; */
  justify-content: space-between;
}

.barspass p {
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: inline !important;
  padding-right: 15px;
}

.center {
  text-align: center;
}

#parent {
  display: inline-flex;
  grid-template-columns: 40% 60%;
}

/* -------------------------------------------------------------------------------------- */

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}


@media print {

  *,
  *::before,
  *::after {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #adb5bd;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  @page {
    size: a3;
  }

  body {
    min-width: 992px !important;
  }

  .container {
    min-width: 992px !important;
  }

  .navbar {
    display: none;
  }

  .badge {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse !important;
  }

  .table td,
  .table th {
    background-color: #fff !important;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6 !important;
  }

  .table-dark {
    color: inherit;
  }

  .table-dark th,
  .table-dark td,
  .table-dark thead th,
  .table-dark tbody+tbody {
    border-color: #dee2e6;
  }

  .table .thead-dark th {
    color: inherit;
    border-color: #dee2e6;
  }
}

body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  /* background: #f8f9fd; */
  color: gray;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #01802b;
}

a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Lato", Arial, sans-serif;
  color: #000;
}

.bg-primary {
  background: #075d23 !important;
}

.ftco-section {
  padding: 7em 0;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.heading-section {
  font-size: 28px;
  color: #000;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.login-wrap {
  position: relative;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.login-wrap h3 {
  font-weight: 300;
}

.form-group {
  position: relative;
}

.form-group .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 48px;
  height: 48px;
  /* background: #a0c334; */
  background-color: #006622;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
}

.form-group .icon span {
  color: #fff;
}

.form-control {
  height: 48px;
  background: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border: 1px solid rgba(5, 185, 35, 0.311);
  padding-left: 60px;
  
}


.form-control:focus,
.form-control:active {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #006622;
}



.social-media .social-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 16px;
  margin-right: 5px;
  border-radius: 50%;
}

.social-media .social-icon span {
  color: #006622;
}
.social-media .social-icon{
  background: #d4ecdf9d;
}

.social-media .social-icon:hover,
.social-media .social-icon:focus {
  background: #006622;
}

.social-media .social-icon:hover span,
.social-media .social-icon:focus span {
  color: #fff;
}

.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}


.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: -4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .checkmark:after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}


.checkbox-wrap input:checked~.checkmark:after {
  display: block;
  content: "\f14a";
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.2);
}


.checkbox-primary {
  color: #006622;

}

.checkbox-primary input:checked~.checkmark:after {
  color: #006622;
}

.btn {
  cursor: pointer;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
  
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}

.btn.btn-primary {
  background: #006622 !important;
  border: 1px solid #006622 !important;
  color: #fff !important;
  padding-right: 28px;
  padding-left: 28px;
}
@media (max-width: 390px){
  .btn.btn-primary {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.btn.btn-primary:hover {
  border: 1px solid #069536;
  background: transparent;
  color: #006622;
}

.btn.btn-primary.btn-outline-primary {
  border: 1px solid #006622;
  background: transparent;
  color: #006622;
}

.btn.btn-primary.btn-outline-primary:hover {
  border: 1px solid transparent;
  background: #075d23;
  color: #fff;
}
